---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Skills from '../components/Skills.astro';
import Startups from '../components/Startups.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Education from '../components/Education.astro';
import Footer from '../components/Footer.astro';
import { projects, startups, education, skills } from "../configs";
---

<Layout title="Bohdan | Full-Stack Software Engineer & System Architect">
	<main>
		<Hero />
		<Skills skills={skills} />
		<Startups startups={startups} />
		
		<section id="projects" class="mb-24">
			<h2 class="text-3xl font-bold tracking-tight mb-8">Professional Projects</h2>
			<div class="flex flex-col gap-4">
				{projects.map(project => (
					<ProjectCard 
						name={project.name}
						description={project.description}
						stack={project.stack}
						links={project.links}
						company={project.company}
					>
					</ProjectCard>
				))}
			</div>
		</section>

		<Education education={education} />
	</main>
	<Footer />
</Layout>
